.flipContainer {
    perspective: 100px;
}

.selected {
    transform: rotateX(-180deg);
}


.selected, .front, .back {
    width: 300px;
    height: 100px;
    margin-left: -75px;

}
.front{
    margin-left: -150px;
}


.flipper, .selected {
    transition: 0.6s;
    transform-style: preserve-3d;
    /*margin-left: -100px;*/
    /*position: relative;*/
    position: absolute;
}


.front{
    backface-visibility: hidden;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100px;*/
    /*height: 100px;*/
    box-shadow: #adcfff 0 -12px 6px inset;
    border-radius: 40em;
    border-style: none;
    cursor: pointer;
}
.back {
    backface-visibility: hidden;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: -80px;
    /*width: 100px;*/
    /*height: 100px;*/
    box-shadow: #adcfff 0 -12px 6px inset;
    border-radius: 40em;
    border-style: none;
}

.buttonBlock{
    display: flex;
    flex-direction: column;
}
.front {
    z-index: 2;
}


.back {
    transform: rotateY(180deg);
}
.vertical.flipContainer {
    /*position: relative;*/
}

.vertical .back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: rotateX(180deg);
    height: 350px;
    width: 500px;
}

.vertical.flipContainer .flipper {
    transform-origin: 100% 240px; /* half of height */
}

.vertical.selected .flipper {
    transform: rotateX(-180deg);
}