.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46;
}

.login {
    flex-direction: column;
    align-items: flex-end;
    width: 413px;
    height: 600px;
    background: #F9F9FE;
    border-radius: 8px;
}

.box {
    display: flex;
    justify-content: center;
}

.text {
    border:none;
    border-bottom: 1px solid black;

}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px ghostwhite inset;
}

.password {
    width: 315px;
    outline: none;
    border:none;
    border-bottom: 1px solid black;

}

.checkbox {
    margin: 0px;
    background-image: url("visibility.png");
    appearance: none;
    width: 35px;
    height: 30px;
    background-color: ghostwhite;
    border: none;
    border-bottom: 1px solid black;
    background-repeat: no-repeat;

}

.checkbox:checked {
    background-image: url('open-eye.png');
}
.error{
    text-shadow: #9890C7;
    color: red;
    font-size:22px;
}
