.loginBlock {
    width: 413px;
    height: 480px;
    left: 434px;
    top: 84px;
    background: #F9F9FE;
    border-radius: 8px;
}
.loginTitle {
    height: 33px;
    left: 512px;
    top: 180px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: right;
    color: #2D2E46;
    margin: 96px 0 60px;
}
.blockCenter {
    display: flex;
    justify-content: center;
}
.loginText {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
    margin: 10px;
}
.loginInputBlock {
    position: relative;
    top: 0;
}
.loginImageBlock {
    position: absolute;
    top: 7px;
    right: 35px;
    cursor: pointer;
}
.blockCheck {
    display: flex;
    justify-content: start;
    margin: 10px 30px 0;
}
.blockForgotPass {
    display: flex;
    justify-content: end;
    margin: 10px 30px 10px;
}
.loginInputsBlock {
    margin: 20px 0;
}