.divTable {
    display: table;
    width: auto;
    height: 700px;
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
    background-color: #FEFEFF;
    border-radius: 8px;
}
.divTableRow {
    display: flex;
    width: auto;
    clear: both;
    height: 50px;
    align-items: center;
}
.divTableCol {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 200px;
    background: #ECECF9;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.divTableBlock {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.divHeaderBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.divSearchBlock {
    display: flex;
    margin: 50px;
}

.divSelectBlock {
    margin: 10px 0;
}

.settings {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}
.tableWrapper {
    background-color: #FEFEFF;
}

.divPaclTitle {
    display: flex;
    margin: 30px 0 0 30px;
    font-size: 22px;
}