.divTable {
    display: table;
    width: auto;
    height: 700px;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.divTableRow {
    display: flex;
    width: auto;
    clear: both;
    height: 50px;
    align-items: center;
}
.divTableCol {
    float: left; /* fix for  buggy browsers */
    width: 200px;
    background-color: #ccc;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divTableBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divHeaderBlock {
    display: flex;
    width: 1000px;
    justify-content: space-around;
}
.divSearchBlock {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divSelectBlock {
    margin: 10px 0;
}