.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    transform: translateX(-6%);
}

.carouselItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background-color: transparent;
    color: #fff;
}

.indicators {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 39%;
    pointer-events: none;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: #E6D4DE;
    color: #fff;
}