.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carouselItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: transparent;
    color: #fff;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: #E6D4DE;
    color: #fff;
}