.page {
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}
.selectedPage {
    font-weight: bold;
    text-decoration:underline;
    cursor: pointer;
}
.Page{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin: 0 10px;
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}