.addPackBlock {
    position: fixed;
    left: 10%;
    bottom: 50%;
}
.addPackBlockWrapper {
    width: 400px;
    height: 315px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addPackBlockTextArea {
    margin: 20px 0;
}