.superInput {
    border: 0;
    border-bottom: 1px solid #24254A;
    outline: none;
    width: 350px;
    height: 150px;
    color: #000000;
    font-size: 20px;
    padding-right: 35px;
    resize: none;
}

