
.red {
    background: red;
}
.default {
appearance: none;
background-color: #FFFFFF;
border-radius: 40em;
border-style: none;
box-shadow: #adcfff 0 -12px 6px inset;
box-sizing: border-box;
color: #000000;
cursor: pointer;
display: inline-block;
font-family: -apple-system,sans-serif;
font-size: 0.8rem;
font-weight: 700;
letter-spacing: -.24px;
margin: 6px;
outline: none;
padding: 0.5rem 1rem;
text-align: center;
text-decoration: none;
transition: all .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.default:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.default:active {
    transform: scale(1.025);
}
