.App {
  text-align: center;
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color:#21268F;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

